#root {
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(25deg, #d00, #e00);
  width: 100%;
  padding: 15px 25px;
  margin: 0;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  border-bottom: 1px solid black;
}
.header h1 {
  margin: 0;
}
.header h1 a {
  color: white;
  font-weight: bold;
  display: flex;
  transition: text-shadow 0.2s;
}
.header h1 a:hover {
  text-shadow: 0 0 20px white, 0 0 40px white;
}
.header h1 img {
  margin-right: 15px;
  margin-top: 3px;
  height: 50px;
}
.header ul {
  margin: 0;
  list-style: none;
  right: 0;
  display: flex;
  font-size: 1.8em;
  line-height: 2em;
}
.header li:not(:last-child)::after {
  content: "\2022";
  color: #222;
  padding: 0 10px;
}
.header ul a {
  color: #222;
  transition: text-shadow 0.2s;
}
.header ul a:hover {
  color: #444;
  text-shadow: 0 0 20px #444;
}

.fade-in, section {
  animation: fade-in 0.8s ease-in-out;
  z-index: 1;
}
.fade-in-delayed {
  animation-delay: 0.15s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sign-up-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.sign-up-form td {
  padding-bottom: 10px;
}
.sign-up-form td:first-child {
  display: flex;
  text-align: right;
}
.sign-up-form input {
  margin-left: 5px;
}

.error-message::before {
  content: '!';
  font-size: 1.1em;
  border: 2px solid white;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  display: inline-flex;
  justify-content: center;
  font-weight: bold;
  margin-right: 9px;
}

.patient-submission {
  border: 4px solid black;
  margin: 10px 40px 20px;
  padding: 10px;
  border-radius: 25px;
  background: #0003;
}

.markdown-container p:first-child {
  margin: 0;
}
.markdown-container ul {
  font-size: 1.15em;
}
